main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.bg-nav{
	background-color: #A02422;
}
.clearHeader{
	width: 100%;
}

.dice-outer-wrapper{
  height: 200px;
  margin: 100px 0;
  perspective: 300px;
  border: none;
}

.dice-inner-wrapper {
  margin: 0 auto;
}

.dice {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}

.dice-animator {
  animation: anim 10s infinite ease-in-out;
}

@keyframes anim {
     0%   { transform: translateZ(-100px) rotateX(  0deg) rotateY(  0deg) rotateZ(  0deg); }
     100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateY(  360deg); }
}

.dice-side {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  font-size: 100px;
  font-weight: bold;
  color: black;
  border-radius: 20px;
  text-align: center;
}

.dice-side > span{
	margin: auto auto;
}

.face-one{
	line-height: 150px;
	background: rgba(0, 0, 255,0.8); 
	transform: rotateY(  0deg) translateZ(100px); 
}
.face-two{
	line-height: 150px;
	background: rgba(0,255,0,0.8); ; 
	transform: rotateY(180deg) translateZ(100px); 
}
.face-three{
	line-height: 150px;
	background: rgba(255,0,0,0.8); ; 
	transform: rotateY(-90deg) translateZ(100px); 
}
.face-four{
	line-height: 60px;
	background: rgba(255,255,0,0.8); 
	transform: rotateY( 90deg) translateZ(100px);
}
.face-five{
	line-height: 50px;
	background: rgba(0,255,255,0.8); ; 
	transform: rotateX( 90deg) translateZ(100px); 
}
.face-six{
	line-height: 60px;
	background: rgba(255,0,255,0.8); ; 
	transform: rotateX(-90deg) translateZ(100px); 
}

#pdf_canvas_container {
width: 800px;
height: 400px;
overflow: auto;
background: #333;
text-align: center;
border: solid 3px;
}

.rectangle {
    border: 1px solid #FFFF00;
    position: fixed;
    background-color: rgba(9,3,9,0.3);
    z-index: 2;
}
#snapshot_overlay{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.snapshot_format{
  border: 2px #000 solid;
  width: 100%;
}
#image_renderer{
  width: 100%;
  max-height: auto;
}
